%body
  %header
    %p チャットグループが作成されました。

  .contents

    .contents_header
      .contents_header--left
        %h1 Current_user_name

      .contents_header--body
        %h1 Sample_group
        %p member-a, member-b

        .edit-button Edit

    .contents_main
      .contents_main--left
        %ul
          %li Group_name--a
          %p latest message here

          %li Group_name--b
          %p latest message here

      .contents_main--body
        %ul
          %li
            member-a
            %span posted date
            %p message-1

          %li
            member-b
            %span posted date
            %p message-2

          %li
            member-a
            %span posted date
            %p message-3

        .contents_main--body--footer

          .message-box
            %p type your message here

          .send-button Send
