<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chatspace</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    <header>
    </header>
    <div class="contents">

      <div class="contents_header">
      <div class="contents_header contents_header--left">
      </div>
      <div class="contents_header contents_header--body">
      </div>
    </div>

    <div class="contents_main">
      <div class="contents_main contents_main--left">
    </div>
    <div class="contents_main contents_main--body">
    </div>
    <div class="contents_main contents_main-footer">
    </div>
    </div>

  </div>
  </body>
</html>
