%body
  %header
    %p チャットグループが作成されました。

  .contents

    .contents_header
      .contents_header--left
        %h1
          Current_user_name
          = link_to "https://www.google.co.jp/" do
            %i.fa.fa-edit
          = link_to "https://www.google.co.jp/" do
            %i.fa.fa-cog

      .contents_header--body
        %h1 Sample_group
        %p member-a, member-b

        .edit-button
          %span Edit

    .contents_main
      .contents_main--left
        %ul
          %li Group_name--a
          %p latest message here

          %li Group_name--b
          %p latest message here

      .contents_main--body
        %ul
          %li
            member-a
            %span posted date
            %p message-1

          %li
            member-b
            %span posted date
            %p message-2

          %li
            member-a
            %span posted date
            %p message-3

        .contents_main--body--footer

          .message-box
            %p
              type your message here
              <div class="originalFileBtn">
              YOUR FILE
              <input type="file">
              </div>

          .send-button Send
