<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chatspace</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
    </header>
    .contents

      .contents_header
        .contents_header contents_header--left

        .contents_header contents_header--body

      .contents_main
        .contents_main contents_main--left
        .contents_main contents_main--body
        .contents_main contents_main-footer

  </body>
</html>
