#notification
  %p チャットグループが作成されました。

.contents

  .contents_header

    /Current_user_name, edit and setting functions shown here
    .contents_header--left
      %h1
        Current_user_name
        = link_to "https://www.google.co.jp/" do
          %i.fa.fa-edit
        = link_to "https://www.google.co.jp/" do
          %i.fa.fa-cog

      /current group name and members shown
    .contents_header--body

      %h1 Group_name--a
      %p member-a, member-b

      .edit-button
        %span Edit

  .contents_main
    /registered groups shown
    .contents_main--left
      %ul
        %li Group_name--a
        %p latest message here

        %li Group_name--b
        %p latest message here

    / chat in a selected group shown
    .contents_main--body
      %ul
        %li
          member-a
          %span posted date
          %p message-1

        %li
          member-b
          %span posted date
          %p message-2

        %li
          member-a
          %span posted date
          %p message-3

      / put your message here
      .contents_main--body--footer

        .message-box
          %p
            type your message here

            <input type="file" name="upfile" id="upfile" accept="image/*" capture="camera" style="display:none" />
            <i class = "fa fa-image"  onClick="$('#upfile').click()">
            </i>

        .send-button Send
