%body
  %header
    %p チャットグループが作成されました。

  .contents

    .contents_header
      .contents_header--left

      .contents_header--body

    .contents_main
      .contents_main--left
        %ul
          %li Group_name--a
          %p latest message here

          %li Group_name--b
          %p latest message here
          
      .contents_main--body
        .contents_main--body--footer
