// framecolor variables
$header-color:              #38AEF0;
$mainleft-color:            #2f3e51;
$mainpart-color:            white;
$headerleft-color:          #253141;
$mainbody-color:            #FAFAFA;
$headerborder-color:        #eeeeee;
// textcolor ariables
$textcolor-left:            #FFFFFFFF;
$groupnamecolor-top:        #333333;
$membercolor-top:           #999999;
$messanger-color:           #434A54;
$posteddate-color:          #999999;
$message-color:             #434A54;
$footer-color:              #AAAAAA;
$messagebox_content-color:  #434A54;
$sendbutton-color:          #38AEF0;
$sendtext-color:            white;
$edittext-color:            #38AEF0;
$username-color:            #FFFFFF;
// hight variables
$height-of-header:          35px;
$height-of-contents-header: 100px;
$height-of-footer:          50px;
// width variables
$width-of-left:             300px;

// mixin for frame
@mixin contents_header($height, $width, $background-color) {
  height: $height;
  width: $width;
  background-color: $background-color;
  float: left;
}

@mixin contents_main($height, $width, $background-color, $float) {
  height: $height;
  width: $width;
  background-color: $background-color;
  float: $float;
}
