.contents {
  height: 100vh;
  width: 100vw;

  &_header {
    height: $height-of-contents-header;
    width: 100vw;
    border-bottom: solid 1px $headerborder-color;

    &--left {
      @include contents_header(
      $height-of-contents-header,
      $width-of-left,
      $headerleft-color);

      h1.current_user_name {
        font-size: 16px;
        color: $username-color;
        padding: 35px 0 0 20px;
        text-align: left;
        // icons
        i {
          float: right;
          padding-right: 20px;
          color: $username-color;
          }
        }
    }

    &--body {
      @include contents_header(
      $height-of-contents-header,
      calc(100% - #{$width-of-left}),
      $mainpart-color);

        h1.current_group_name {
          font-size: 20px;
          color: $groupnamecolor-top;
          padding: 35px 0 0 40px;
          text-align: left;
          }

        p.group-members {
          font-size: 12px;
          color: $membercolor-top;
          padding: 15px 0 0 40px;
          text-align: left;
          }

        .edit-button {
          position: absolute;
          top: 28px;
          right: 40px;
          border: solid 1px $edittext-color;


          .edit {
          line-height: 40px;
          margin: 0 20px;
          color: $edittext-color;
          text-align: center;
          vertical-align: middle;
          text-decoration: none;
          }
        }
    }
  }

    .contents_main {
      @include contents_main(
      calc(100vh - #{$height-of-header} - #{$height-of-contents-header}),
      100vw,
      $mainpart-color,
      0);

      //registered groups shown here
        &--left {

          @include contents_main(
          calc(100vh - #{$height-of-contents-header}),
          $width-of-left,
          $mainleft-color,
          left);

            .group-name {
              font-size: 15px;
              color: $textcolor-left;
              padding-top: 20px;
              padding-left: 20px;
            }

            .group-message {
              font-size: 11px;
              color: $textcolor-left;
              padding-top: 5px;
              padding-bottom: 40px;
              padding-left: 20px;
            }
        }

        //chat in a selected group shown here
        &--body {
          @include contents_main(
          calc(100vh - #{$height-of-header} - #{$height-of-contents-header} - #{$height-of-footer}),
          calc(100vw - #{$width-of-left}),
          $mainbody-color,
          right);

          //chats
          ul.chat-history {
            padding-top: 46px;

            li.chat-each {
              font-size: 16px;
              font-weight: bold;
              color: $messanger-color;
              padding-bottom: 40px;
              padding-left: 40px;

                span.posteddate {
                  color: $posteddate-color;
                  font-size: 10px;
                  font-weight: normal;
                }

                p.message {
                  font-size: 14px;
                  font-weight: normal;
                  color: $message-color;
                  padding: 10px 0;
                }

                  img.image-message {
                    max-width: 200px;
                    max-height: 200px;
                    float: left;
                  }
            }
          }
      }
          //message box
        .contents_main--body--footer {
          height: $height-of-footer;
          width: calc(100vw - #{$width-of-left});
          padding: 20px 0;
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: $footer-color;

          .form__message {
            border: none;
            float: left;
            height: 50px;
            width: calc(100% - 150px);
          }
          .form__mask {
            background-color: $white;
            float: left;
            height: 50px;
            padding-right: 10px;
            &__image {
              font-size: 20px;
              line-height: 50px;

            }
            i {
              color: black;
            }
            .hidden {
              display: none;
            }
          }
          #send-button {
            background-color: $light_blue;
            border: none;
            color: $white;
            float: right;
            font-size: 16px;
            height: 50px;
            padding: 0 30px;
            position: absolute;
            right: 30px;
            bottom: 20px;
        }
      }
    }
  }
