// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// SCSSはcssの上位互換故にcss文法がそのまま使える

// color variables
$header-color: #38AEF0;
$mainleft-color: #2f3e51;
$mainpart-color: white;
$headerleft-color: #253141;
$mainbody-color: #FAFAFA;
$textcolor-left: #FFFFFFFF;
$groupnamecolor-top: #333333;
$membercolor-top: #999999;
$messanger-color: #434A54;
$posteddate-color: #999999;
$message-color: #434A54;
$headerborder-color: #eeeeee;
$footer-color: #AAAAAA;
$messagebox_content-color: #434A54;
$sendbutton-color: #38AEF0;
$sendtext-color: white;
$edittext-color: #38AEF0;

// hight variables
$height-of-header: 35px;
$height-of-contents-header: 100px;
$height-of-footer: 50px;

// width variables
$width-of-left: 300px;

header {
  height: $height-of-header;
  background-color: $header-color;
  font-size: 20px;
  color: white;
  text-align: center;
}

.contents {
  height: 100vh;
  width: 100vw;

  &_header {
    height: $height-of-contents-header;
    width: 100vw;
    border-bottom: solid 1px $headerborder-color;

    &--left {
      height: $height-of-contents-header;
      width: $width-of-left;
      background-color: $headerleft-color;
      float: left;

      h1 {
        font-size: 16px;
        color: #FFFFFF;
        padding: 35px 0 0 20px;
        text-align: left;

        i {
          float: right;
          padding-right: 20px;
        }
        }


    }

    &--body {
      height: $height-of-contents-header;
      width: calc(100% - #{$width-of-left});
      background-color: $mainpart-color;
      float: left;

        h1 {
          font-size: 20px;
          color: $groupnamecolor-top;
          padding: 35px 0 0 40px;
          text-align: left;
        }

        p {
          font-size: 12px;
          color: $membercolor-top;
          padding: 15px 0 0 40px;
          text-align: left;
        }

        .edit-button {
          height: 40px;
          width: 100px;
          position: absolute;
          top: 48px;
          right: 40px;
          border: solid 1px $edittext-color;
          text-align: center;
          vertical-align: middle;
          line-height: 40px;
          color: $edittext-color;

        }
    }

  }

    .contents_main {
      height: calc(100vh - #{$height-of-header} - #{$height-of-contents-header});
      width: 100vw;
      background-color: $mainpart-color;

        &--left {
          width: $width-of-left;
          height: calc(100vh - #{$height-of-header} - #{$height-of-contents-header});
          background-color: $mainleft-color;
          float: left;

            li {
              font-size: 15px;
              color: $textcolor-left;
              padding-top: 20px;
              padding-left: 20px;
            }

            p {
              font-size: 11px;
              color: $textcolor-left;
              padding-top: 5px;
              padding-bottom: 40px;
              padding-left: 20px;
            }
        }

        &--body {
          width: calc(100vw - #{$width-of-left});
          height: calc(100vh - #{$height-of-header} - #{$height-of-contents-header});
          background-color:$mainbody-color;
          float: right;

          ul {
            padding-top: 46px;


            li {
              font-size: 16px;
              font-weight: bold;
              color: $messanger-color;
              padding-bottom: 40px;
              padding-left: 40px;

                span {
                  color: $posteddate-color;
                  font-size: 10px;
                  font-weight: normal;
                }

                p {
                  font-size: 14px;
                  font-weight: normal;
                  color: $message-color;
                  padding: 10px 0;

                }
            }
          }



          &--footer {
            height: $height-of-footer;
            width: calc(100vw - #{$width-of-left});
            padding: 20px 0;
            position: absolute;
            bottom: 0;
            background-color: $footer-color;

            .message-box {
              background-color: white;
              height: 50px;
              width: calc(100vw - #{$width-of-left} - 195px);
              margin: 20px 15px 0 40px;
              position: absolute;
              bottom: 20px;
              float: left;

              p {
                font-size: 14px;
                color: $messagebox_content-color;
                padding: 15px 0 15px 10px;

                i {
                  color: black;
                  float: right;
                  padding-right: 10px;
                }

              }
            }

            .send-button {
              background-color: $sendbutton-color;
              height: 50px;
              width: 100px;
              position: absolute;
              bottom: 20px;
              right: 40px;
              text-align: center;
              vertical-align: middle;
              line-height: 50px;
              color: $sendtext-color;
              }

          }
        }

    }
}
